mixin forgotPasswordForm()
  .inner(style="margin-top: 2.5rem;")
    form.form(action="/account/forgot" method="POST")
      h2 Forgot Password?

      label(for="email") Email
      input(type="email" name="email")

      input.button(style='margin-top:1rem;' type="submit" value='Reset →')
